.display_message {
    text-align: center;
}

.admin-table {
    background-color: #FFFFFF;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 100%; /* Ensures full width */
    border-collapse: collapse;
    margin: 20px 0; /* Adjust margins as needed */
}

.admin-table th {
    padding: 10px 20px;
    border: 1px solid #ddd;
    text-align: left;
}

.admin-table td {
    padding: 10px 20px;
    text-align: left;
}

body {
    background-color: #f9f9ff;
    display: flex; /* Added to make the body a flex container */
    justify-content: center; /* Centers content horizontally */
}

.display_product {
    width: 60%; 
    margin-right: 140px;
}


/* add product */
.add-product-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {

    border: 2px solid black;
    border-radius: 2%;
    padding: 30px;
    width: 400px;
    background-color: white;


}

.add-product-box {
    display: block;
    border-radius: 13px;
    padding: 20px 15px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.add-product-btn {
    background-color: transparent;
    padding: 20px 12px;
    width: 200px;
    cursor: pointer;
    border-radius: 12px;
}
